.img{
    width: 90%;
    
}
.card2{
  width: 90%;
}

.card-text{
    text-align: center;
}
.card-title{
    font-size: xx-large;
    text-align: center;
}
.price{
    text-align: center;
}